*{
    border: 0;
}
body{
    margin: 0 !important;
    padding: 0 !important;
    background-color: yellow;
}
#can{
    width: calc(100% - 2cm);
    height: calc(100vh - .5cm);

    margin-left: 1cm;
    margin-right: 1cm;

    display: grid;

    grid-template-columns: 1fr 2fr;
    grid-template-rows: .5fr 1fr 1fr 1fr 1fr;
}
h1 {
    font-family: 'Coda Caption',"Arial Black", "Arial Bold", Gadget, sans-serif;
    line-height: 0;
    font-size: 5em;
    font-style: normal;
    font-variant: small-caps;
    font-weight: 700;
}
#cap{
    grid-area: auto;
    background-color: red;
    height: .5cm;
    margin-bottom: 0;
}
#blueTab{
    background-color: blue;
    grid-column: span 1;
    grid-row: span 1;
}
#yellowTab{
    background-color: yellow;
    grid-column: span 1;
    grid-row: span 1;
}
#logo {
    height: auto;
    text-align: center;
    background-color: blue;
    color: white;
    grid-column: auto auto;
    grid-column: span 2;
    overflow: hide;
}
#output{
    margin-top: 15%;
}
#blueBanner{
    height: 100%;
    box-sizing: border-box;
    background-color: blue;
    grid-column: span 1;
    grid-row: span 4;
}
#text{
    background-color: yellow;
    color:red;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    font-size: 5em;
}
#button{
    background-color: yellow;
    color: red;
    font-family: 'Encode Sans', sans-serif;
    text-align: center;
    overflow: wrap;
    font-size: 2em;
    font-weight: bold;
    border-radius: 15px;
}
#button:active{
    background-color: white;
}
#rickroll{
    grid-column: span 1;
    grid-row: span 1;
    background-color: yellow;
    color: rgb(0, 0, 0);
    font-family: 'Encode Sans', sans-serif;
    text-align: center;
    overflow: wrap;
    font-size: 2em;
    font-weight: bold;
}
#rickroll a{
    
    text-decoration: none;
}